<tr>
  <td class="align-middle"><img src="<%= badge.url_image %>" alt="badge_image"></td>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= badge.rule %></td>
  <td class="align-middle"><%= link_to 'Show', admin_badge_path(badge), class: 'btn btn-outline-primary' %></td>
  <td class="align-middle"><%= link_to 'Edit', edit_admin_badge_path(badge), class: 'btn btn-outline-primary' %></td>
  <td class="align-middle"><%= link_to 'Delete',
                                       admin_badge_path(badge), class: 'btn btn-outline-primary',
                                       method: :delete,
                                       data: {confirm: 'Are you sure?'} %></td>
</tr>