<h1 class="display-4"><%= t('.header') %></h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('.question') %></th>
    <th><%= t('.url') %></th>
    <th><%= t('.user') %></th>
  </tr>
  </thead>
  <%= render @gists %>
</table>
