<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.category.title%></td>
  <td><%= test.questions.size%></td>

  <% if test.questions.present? %>
    <td><%= button_to t('.start'), start_test_path(test), class: 'btn btn-primary' %></td>
  <% else %>
    <td><%= t('.no_questions') %></td>
  <% end %>
</tr>