<h1> Create new test </h1>

<%= form_with model: @test do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.text_field :level %>
  </p>

  <p><%= form.submit %></p>
<% end %>