<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to  'TestGuru', root_path %></h1>

    <% if flash[:notice] %>
      <%= content_tag :p, flash[:notice], class: 'flash' %>
    <% end %>

    <p class="nav user">
      <% if logged_in? %>
        <p class="nav user">
        Welcome, <b><%= current_user.login %></b> Guru!<br>
        <%= link_to 'LogOut', logout_path, data: { method: :delete } %>
      <% else %>
        <%= link_to 'AddAccount', signup_path %><br>
        <%= link_to 'LogIn', login_path %><br>
        </p>
        <% end %>
    </p>
    <hr>
    <%= yield %><br>
    <%= render 'layouts/footer' %>
  </body>
</html>
